k* {
    margin: 0;
    padding: 0;
}
#banner{
   background:url(femaliy.jpg);
   background-size: cover;
   background-position: center;
   height: 100vh;
   position: relative;
   padding-left: 5%;
   padding-right: 5%;
   position: relative;
}
.femaliy{
    display: inline-block;
    align-items: center;
    color: rgb(248, 92, 92);
    text-shadow: 2px 2px 4px #000000;

}
.text-box{
    color: rgb(248, 92, 92);
    font-size: 40px;
    font-weight: bold;
    margin-top: -1%;
    text-shadow: 2px 2px 4px #000000;
}
nav {
    float: right;
}
 ul a{
    padding: 5px 10px 5px ;
    color:tomato;
}
nav ul a:hover{
    border-radius: 20px;
    background-color:aqua;
}



/* -------------map--------- */









/* ------------family-stack----------- */


.family-stack .member {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity cubic-bezier(5 ease, transform 5.6s ease);
}

.family-stack .member {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}

    



/* ---------------vaiya-------------- */
.member {
    width: 300px;
    height: 220px;
    background-color: rgba(0, 255, 255, 0.267);
    border-top-left-radius: 70px;
    border-bottom-right-radius: 300px;
    padding-right: 30px;
    border-style: groove;
    border-width:1px;
    border-color:tomato;
}
.vaya{
    position: absolute;
    width: 100px;
    height:100px;
    border-style:groove;
    border-radius:50%;
    border-color:tomato;
    border-width:5px;

}
.vaya-joob{
    float: right;
    margin-top:5%;
}
.raddi-text{
    margin-left:36%;
    padding-top: 22%;
    font-size: 20px;
    color:#f0eff1ee;
    border-style: groove;
    border-color:tomato;
    border-top: none;
    border-left: none;
    border-right: none;
    

}
.raddi-text2{
    padding-left: 15px;
    padding-right: 30%;
    font-size: 15px;
    margin-top: -0;

}

.map-logo{ 
 position: absolute;
 margin-top: auto;
 bottom: 20%;
}

.imgss{
    width: 100px;
    height: 100px;
}

/* -----------------------contack------------ */

.footeapfooteap{
    position: absolute;
    margin-top:auto;
    bottom:2%;
    font-size: 25px;
    color:rgb(72, 6, 179);
}